:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #535bf2;
}
input {
  transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(19, 39, 67, 0.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(19, 39, 67, 0.5);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(19, 39, 67, 0.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(19, 39, 67, 0.5);
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

h2 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.btn {
  border-radius: 6px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 52px 15px;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #ed4c5c;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  .btn {
    font-size: 14px;

    padding: 14px 46px 14px;
  }
  .d-flex {
    flex-wrap: wrap;
  }
  input,
  select {
    padding: 14px 20px;
    font-size: 15px;
  }
}
